@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-9px); /* Upward movement */
    }
  }
  
  .animate-bounce-slow {
    animation-name: animate-bounce-slow;
    animation-duration: 3s; /* Adjust the duration to your desired value (3 seconds in this example) */
    animation-timing-function: ease-in-out; /* Optional: Use ease-in-out for smoother acceleration and deceleration */
    animation-iteration-count: infinite; /* Optional: Make the animation repeat infinitely */
  }